@font-face {
    font-family: 'Norse Bold';
    src: url(/fonts/Norse-Bold.otf) format("opentype");
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-size: 100%;
    font-family: sans-serif;
}

body,
aside,
main,
figure,
.description,
.form-controls,
.control {
    display: flex;
}

body {
    --button-color: #596D48;
    height: 100vh;
}

aside,
main {
    flex-direction: column;
    height: 100%;
}

aside {
    flex: 1 0 0;
    justify-content: space-between;
    background-image: url(/images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    padding-top: 10%;
}

figure,
footer {
    padding: 10px 0;
}

figure {
    flex: 0 0 120px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.4);
}

img {
    height: 80px;
    width: auto;
}

figcaption,
footer,
button {
    color: white;
}

figcaption {
    font-size: 6rem;
    font-family: 'Norse Bold';
}

footer {
    flex: 0 0 20px;
    text-align: center;
    font-size: 0.6rem;
}

main {
    flex: 2 0 0;
    background-color: rgb(247, 247, 247);
    padding: 30px 0 0;
}

section {
    flex: 1 1 auto;
    padding: 0 40px;
}

.description {
    flex-direction: column;
    justify-content: end;
    max-height: 30%;
}

.description-text_container {
    margin: 0 180px 40px 0;
}

.description-text_container > p {
    font-size: 1.2rem;
    font-weight: bold;
}

.form_container {
    max-height: 300px;
    background-color: #fff;
    border-bottom: 10px;
    border-color: #999;
}

form {
    margin: 20px 0 0;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.2rem;
    font-weight: bold;
}

label {
    font-size: 0.7rem;
}

.form-controls {
    gap: 20px 60px;
    flex-wrap: wrap;
    margin: 20px 50px 0 0;
}

.control {
    flex-direction: column;
    flex: 0 1 150px;
}

.account-action {
    max-height: 30%;
}

.action_container {
    margin: 40px 0 0;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    height: 2rem;
    padding: 10px;
    outline: none;
}

button {
    padding: 12px 50px;
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 5px;
}

p > a {
    text-decoration: none;
}

p > a:link {
    color: var(--button-color);
}

p > a:visited {
    color: rgb(4, 143, 38);
}

p:last-of-type {
    margin-top: 20px;
}

input:focus {
    border-color: rgb(112, 112, 236);
    box-shadow: 2px 2px rgb(210, 204, 204);
}

input[type="password"]:invalid {
    border-color: rgb(217, 77, 77);
}

.control:has(input[type="password"][id="pwd"]:invalid)::after {
    content: "* passwords do not match";
    display: block;
    color: rgb(217, 77, 77);
    font-size: 0.6rem;
}